body {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

#main-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: center;
}

#sub-div{
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.drink-thumbnail {
  width: 200px;
  border-radius: 50%;
  order: -2;
  border: 1px solid black;
} 

