body {
  margin-bottom: 50px;
  text-align: center;
  background-color: #ffebee;
}

header {
  background-image: url(./Zoom-BG-1-01.jpg);
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  background-color: rgb(139,69,19,0.5)
  ;
  padding: 50px;
}

#main-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: center;
}

#sub-div{
  width: 50%;
  border: 5px solid whitesmoke;
  padding: 10px;
  background-color: #E57900;
}

.drink-thumbnail {
  width: 200px;
  border-radius: 50%;
  order: -2;
  border: 3px solid whitesmoke;
} 

footer {
  background-color: rgb(13, 61, 61);
  bottom: 0;
  padding: 15px 0px 15px 0px;
  height: 75px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
} 

#linkedin {
  width: 50px;
  padding: 20px;
}

#github {
  width: 65px;
}