body {
  margin-bottom: 50px;
  text-align: center;
  background-color: #ffebee;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url(./photos/Zoom-BG-1-01.jpg);
  /* image sourced from: https://vinepair.com/articles/best-zoom-backgrounds-free/ */
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sriracha', cursive;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  background-color: rgba(43, 53, 71, 0.5);
  padding: 50px;
  animation-duration: 3s;
  animation-name: drop-in;
}

@keyframes drop-in {
  /* header drops in to place */
  from {
    margin-bottom: 100%;
    width: auto; 
  }
  to {
    margin-bottom: 0%;
    width: auto;
  }
}

h3 {
  color: rgb(13, 61, 61);
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  line-height: 35px;
  font-size: 27px;
}

button {
  background-color: rgb(13, 61, 61);
  color: whitesmoke;
  border: 5px solid whitesmoke;
  border-style: outset;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: 'Sriracha', cursive;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#main-container {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#sub-div1{
  width: 30%;
  color: whitesmoke;
  padding: 10px;
  background-color: #E57900;
  line-height: 30px;
  border-right: 1px dashed white;
}

#sub-div2{
  width: 30%;
  color: whitesmoke;
  padding: 10px;
  padding-left: 25px;
  background-color: #E57900;
  line-height: 30px;
  flex-grow: 2;
  font-size: large;
}

.drink-thumbnail {
  width: 200px;
  border-radius: 50%;
  order: -2;
  border: 3px solid whitesmoke;
  margin-top: 10px;
} 

.drink-title {
  text-transform: uppercase;
  text-align: left;
}

.ingredients-title {
  text-align: left;
}

li {
  text-align: left;
}

.instructions-section {
  text-align: left;
}

footer {
  background-color: rgb(13, 61, 61);
  padding: 15px 0px 15px 0px;
  height: 75px; 
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
} 

#linkedin {
  width: 80px;
  padding: 20px;
}

#github {
  width: 55px;
}


* {
  box-sizing: border-box;
}

/* tablet breakpoint */
@media only screen and (max-width: 1024px) {
  header {
    height:500px;
  }

  h3 {
    width: 70%;
    text-align: center;
    font-size: larger;
  }

  #main-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 250px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
    #sub-div1{
      width: 30%;
      color: whitesmoke;
      padding: 10px;
      background-color: #E57900;
      line-height: 30px;
      border-right: 1px dashed white;
    }
    
    #sub-div2{
      width: 30%;
      color: whitesmoke;
      padding: 10px;
      padding-left: 25px;
      background-color: #E57900;
      line-height: 30px;
      flex-grow: 2;
      font-size: larger;
    }

    .drink-title{
      text-align: left;
    }

    .drink-thumbnail {
      width: 200px;
      border-radius: 50%;
      order: -2;
      border: 3px solid whitesmoke;
      margin-top: 20px;
    } 

}

/* mobile breakpoint */
@media only screen and (max-width: 600px) {

  header {
    height:300px;
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: large;
  }

  #main-container {
    margin-top: 35px;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  
    #sub-div1{
      width: 100%;
      color: whitesmoke;
      padding: 10px;
      background-color: #E57900;
      line-height: 30px;
      order: -2;
    }
    
    #sub-div2{
      width: 100%;
      color: whitesmoke;
      padding: 10px;
      flex-grow: 2;
      background-color: #E57900;
      line-height: 30px;
      order: -2;
    }

    .drink-title{
      text-align: center;
    }

    .drink-thumbnail {
      width: 200px;
      border-radius: 50%;
      order: -2;
      border: 3px solid whitesmoke;
      margin-top: 20px;
    } 

}