body {
  margin-bottom: 50px;
  text-align: center;
  background-color: #ffebee;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url(./search_photos/background\ photo.jpg);
  /* image sourced from: https://vinepair.com/articles/best-zoom-backgrounds-free/ */
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Sriracha', cursive;
  border-bottom: 10px solid #E57900;
}

h1 {
  text-transform: uppercase;
  color: whitesmoke;
  background-color: rgba(59, 37, 11, 0.5);
  padding: 50px;
  animation-duration: 3s;
  animation-name: drop-in;
}

@keyframes drop-in {
  /* header drops in to place */
  from {
    margin-bottom: 100%;
    width: auto; 
  }
  to {
    margin-bottom: 0%;
    width: auto;
  }
}

h3 {
  color: rgb(13, 61, 61);
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  line-height: 35px;
  font-size: 27px;
}

#drink-form {
  padding: 10px;
  font-size: 22px;
  border: 1px solid rgb(13, 61, 61);
  float: center;
  width: 40%;
  background:whitesmoke;
}

button {
  background-color: rgb(13, 61, 61);
  width: 15%;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10%;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 17px;
  font-family: 'Sriracha', cursive;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#main-container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#main-list{
  width: 80%;
  color: whitesmoke;
  padding: 10px 30px 10px 30px;
  background-color: #E57900;
  line-height: 30px;
  border: 2px solid whitesmoke;
  font-size: larger;
}

.drink-thumbnail {
  width: 200px;
  border-radius: 50%;
  order: -2;
  border: 3px solid whitesmoke;
  margin-top: 10px;
} 

.drink-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.ingredients-title {
  text-align: left;
}

li {
  text-align: left;
}

.instructions-section {
  text-align: left;
  padding-bottom: 18px;
  border-bottom: 1px dashed whitesmoke;
}

* {
  box-sizing: border-box;
}

/* tablet breakpoint */
@media only screen and (max-width: 1024px) {
  header {
    height:500px;
  }

  h3 {
    width: 70%;
    text-align: center;
    font-size: larger;
  }

  #main-container {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 250px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
    #main-list{
      width: 80%;
      color: whitesmoke;
      padding: 10px 20px 10px 20px;
      background-color: #E57900;
      line-height: 30px;
      border-right: 1px dashed white;
    }
    

    .drink-thumbnail {
      width: 200px;
      border-radius: 50%;
      order: -2;
      border: 3px solid whitesmoke;
      margin-top: 20px;
    } 

}

/* mobile breakpoint */
@media only screen and (max-width: 600px) {

  header {
    height:300px;
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: large;
  }

  button {
    width: fit-content;
  }

  #main-container {
    margin-top: 35px;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  
    #main-list{
      width: 100%;
      color: whitesmoke;
      padding: 10px;
      background-color: #E57900;
      line-height: 30px;
    }

    .drink-title{
      text-align: center;
    }

    .drink-thumbnail {
      width: 200px;
      border-radius: 50%;
      order: -2;
      border: 3px solid whitesmoke;
      margin-top: 20px;
    } 

}